<h1> Login to Your Pokemon Account</h1>

<form>
    <div>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" [(ngModel)]="username" placeholder="Enter you username..">
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" [(ngModel)]="password" placeholder="Enter you password..">
    </div>
    <br>
    <button (click)="login(username, password)" type="button">LOGIN</button>
    <div *ngIf="verify === false">
        <p>Wronk login credentials!</p>
    </div>

    <div *ngIf="verify === true">
        <p>Logging in, gimme a sec!</p>

        <progress *ngIf="bar1" id="loginBar" value="32" max="100"> 32% </progress>
        <progress *ngIf="bar2" id="loginBar" value="66" max="100"> 66 </progress>
        <progress *ngIf="bar3" id="loginBar" value="100" max="100"> 100% </progress>


    </div>

    <br>
    <a href="/register">New user? Register here!</a>
</form>