<div class="anonymousIndex">

    <h2>Welcome to the Pokémon Spotter!</h2>

    <div class="rankingBox">
        <h3>These are the top ten users</h3>
        <div *ngFor="let user of userArray">
            <p class="userRanking">{{ user.spottedby }} - spotted {{ user.numberofspotted }} pokémon </p>
        </div>
    </div>

    <div class="rankingBox">
        <h3>These are ten rarest pokémon</h3>
        <div *ngFor="let pokemon of rareArray">
            <p class="pokeRanking">
                {{ pokemon.pokeid }} <img class="pokeSprite" src="{{ pokemon.spriteUrl }}" alt="pokemon sprite">
                {{ pokemon.name | uppercase }} has been spotted {{ pokemon.timesbeenspotted }} time(s)
            </p>
        </div>
    </div>
</div>
