.anonymousIndex {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
    padding: 0 5px;
  }

  .rankingBox {
      border-style: dashed;
      width: 450px;
      margin: 0 15px;
      display: inline-block;
  }
  
  .rankingBox .userRanking {
      padding-right: 10px;
      margin-bottom: 28px;
      margin-left: 10px;
      text-align: left;
  }

  .rankingBox .pokeRanking {
    padding-right: 10px;
    margin-left: 10px;
    text-align: left;
}

  .rankingBox .pokeSprite {
      width: 35px;
      height: 35px;
      margin-bottom: -10px;
  }