<!DOCTYPE html>
<html>

<head>
	<title>TOKEN PAGE</title>
</head>

<body>
	<!-- On LogOut-click: redirect to login and clear memory.-->
	<form action="/login">
		<input type="submit" (click)="logoutUser()" value="Log Out">
	</form>

	<p>Data from GitLab:</p>

	<pre id="json"></pre>

</body>

</html>

