<!DOCTYPE html>
<html>

<head>
	<title>TOKEN PAGE</title>
</head>

<body>

	<!-- On LogOut-click: redirect to login and clear memory.-->
	<form>
		<input type="submit" (click)="logoutUser()" value="Log Out">
	</form>

	<div class="listOfPoke">
		<h2 style="text-align: center;">List Of Your P0Ké</h2>
	</div>

	 <form>
	 <ul class="pokemon2">
		<li *ngFor="let pokemon of completePokemons">
			<span>{{ pokemon.name }} </span>

			<img src={{pokemon.url}} />
			<span>{{pokemon.gender}} </span>
			<span>Long: {{pokemon.longitude}} </span>

			<span>Lat: {{pokemon.latitude}} </span>

		</li>
     </ul>
	</form>
	<!-- TODO list of spotted pokes-->



</body>

</html>