.registerPokemon {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  h2 {
    font-size: 2em;
  }

 .types {
     margin-bottom: 15px;
     text-transform: capitalize;
 }

 .spottedForm {
     margin: auto;
     padding: 0;
     width: 500px;
     border-style: dashed;
 }

 .spottedForm .dropDown {
     padding: 5px;
     margin-top: 15px;
     margin-bottom: 10px;
 }

 .spottedForm .location {
     padding: 15px;
 }

 .spottedForm .location input {
     width: 80px;
     margin-bottom: 10px;
 }

 .spottedForm .submitBtn {
    background-color: #CC0000;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
 }