<div class="registerPokemon" *ngIf="completePokemon">

    <h2>Register a spotted {{ completePokemon.name | uppercase }}!</h2>

    <img src="{{ completePokemon.spriteUrl }}" alt="Sprite goes here">

    <div class="types" *ngFor="let type of completePokemon.types">
        {{ type }}
    </div>

    <!--action="https://pokeback.herokuapp.com/addencounter"-->
    <div class="spottedForm">

        <!-- value="{{ username }}" -->
        <input type="text" name="spottedby" value="corn" disabled style="display: none;">
        <input type="text" name="pokeid" value="{{ completePokemon.id }}" disabled style="display: none;">

        <div class="dropDown">
            <label for="gender">What gender was the {{ completePokemon.name | uppercase }}? </label>

            <select name="gender" id="gender" [(ngModel)]="gender">
                <option value="m">Male</option>
                <option value="f">Female</option>
            </select>
        </div>

        <div class="dropDown">
            <label for="shiny">Was it shiny? </label>

            <select name="shiny" id="shiny" [(ngModel)]="shiny">
                <option value="y">Yes</option>
                <option value="n">No</option>
            </select>
        </div>

        <div class="location">
            <div>
                <label for="lat">Latitude: </label>
                <input type="number" name="latitude" id="lat" [(ngModel)]="latitude">
            </div>

            <div>
                <label for="long">Longitude: </label>
                <input type="number" name="longitude" id="long" [(ngModel)]="longitude">
            </div>
        </div>

        <div>
            <button class="submitBtn" (click)="sendForm()" >Register spotted pokémon!</button>
        </div>

    </div>

</div>
