<form *ngIf="user !== null">
    <input type="submit" (click)="logoutUser()" value="Log Out">
</form>
<div class="allPokemon">

    <h2>All Pokémon</h2>

    <ul class="pokemon">
        <li *ngFor="let pokemon of pokemonArray">
            <a routerLink="/registerPokemon/{{pokemon.name}}">
                <img src="{{pokemon.spriteUrl}}" alt="pokémon sprite">
                <span class="badge">{{pokemon.name | uppercase}}</span>
            </a>
        </li>
    </ul>

</div>