.allPokemon {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  font-size: 2em;
}

.badge {
    display: inline-block;
    color: white;
    padding: 0.8em 0.7em 0.7em 0.7em;
    background-color:#CC0000;
    position: relative;
    top: -28px;
    height: 28px;
    width: 120px;
    border-radius: 4px;
  }
  
.pokemon {
  list-style-type: none;
  padding: 0;
  width: 250px;
  height: 33em;
  margin: 0 auto;
  overflow: auto;
}

.pokemon li {
  background-color: #EEE;
  margin: 10px auto;
  padding: .3em 0;
  height: 2.6em;
  border-radius: 4px;
}

.pokemon img {
  position: relative;
  top: -5px;
  margin: 0 20px;
  width: 50px;
  height: 50px;
}

.pokemon li:hover {
  background-color: #DDD;
}