<h1>Register a Pokemon Account</h1>

<form>

    <p>To register, write a password!</p>
    <input type="password" [formControl]="password" placeholder="Password here.">

<br>

    <div>
        <button (click)="doAuth()" type="button" [disabled]="password.value.length == 0">Register</button>
    </div>

<br>
<br>
    <a href="/login">Already a user? PRESS HERE!</a>
</form>
<br>
