/* AppComponent's private CSS styles */
h1 {
    font-size: 2.2em;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

  h1 a {
    text-decoration: none;
    color: black;
  }

  hr {
    height: 10px;
    background-color: #CC0000;
    border-radius: 15px;
  }

  nav {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
  }

  nav .pokeball {
    width: 80px;
    height: 80px;
    padding: 0;
    margin-bottom: -35px;
  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin: 20px 8px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }

  nav a:visited, a:link {
    color: #334953;
  }

  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }

  nav a.active {
    color: #039be5;
  }
