<p *ngIf="user !== null">Logged in as: {{ user }}</p>
<h1>
    <a routerLink="/anonymousIndex"> {{ title }} </a>
</h1>

<nav>
    <img class="pokeball" src="../assets/images/pokeball.png" alt="pokeball">
    <a *ngIf="user !== null" routerLink="/listAll">List all pokémon</a>
    <a *ngIf="user === null" routerLink="/anonymousIndex">Show highscore</a>

        <a *ngIf="user === null" routerLink="/register">Register</a>
        <a *ngIf="user === null" routerLink="/login">Login</a>
        <a *ngIf="user !== null" routerLink="/profile">Profile</a>
  
    <img class="pokeball" src="../assets/images/pokeball.png" alt="pokeball">
</nav>

<hr>

<router-outlet></router-outlet>
